* {
	margin: 0;
	padding: 0;

}

body {
	background: #fff;
}

header {
	width: 100%;
}

header nav {
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
	background: #00ccff;
}

header nav ul{
	overflow: hidden;
}

header nav ul li{
	float: left;
	list-style: none;
}

header nav ul li a{
	color: #ffffff;
	padding: 20px;
	display: block;
	text-decoration: none;
}

.info:hover{
	background: #007399;
	display: inline-block;
	vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-animation-name: hvr-buzz-out;
  animation-name: hvr-buzz-out;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;

}
.whatsapp:hover, .whatsapp:focus, .whatsapp:active{
	background: #00cc00;
	-webkit-animation-name: hvr-buzz-out;
  animation-name: hvr-buzz-out;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;

}
.telegram:hover, .telegram:focus, .telegram:active{
	background: #4ddbff;
	-webkit-animation-name: hvr-buzz-out;
  animation-name: hvr-buzz-out;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
.discord:hover, .discord:focus, .discord:active{
	background: #000;
	-webkit-animation-name: hvr-buzz-out;
  animation-name: hvr-buzz-out;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}



.menu_bar {
	display: none;
}
section {
	padding: 20px;
}
@media screen and (max-width: 800px){
	header nav {
		width: 80%;
		height: 100%;
    left: -100%;
		margin: 0;
		position: fixed;
	}
	header nav ul li{
		display: block;
		float: none;
		border-bottom: 1px solid rgba(255,255,255, .3);
	}


	.menu_bar {
		display: block;
		width: 100%;
		background: #ccc;

	}
  .menu_bar .button_menu{
      display: block;
      padding: 20px;
      background: #007399;
      color: #fff;
      text-decoration: none;
      font-weight: bold;
      font-style: 25px;
      -webkit-box-sizing:border-box;
      -moz-box-sizing:border-box;
      box-sizing:border-box;
    }
}